html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Karma, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  padding: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 3px solid #987ffa;
  border-radius: 3em;
  padding: 1rem;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: #6f00e7,;
}

img {
  width: 100%;
  margin-bottom: 1.5rem;
}

p {
  margin: 0 0 auto;
  color: #000;
}

li a {
  padding: .5em .75em .6em;
  margin-top: 1.5rem;
  background-color: #623b0c;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
}
